In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.simplefilter("ignore")

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge
from sklearn.metrics import r2_score
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

In [11]:
df=pd.read_excel(r'C:\Users\Sudheerkumar Peesa\Machine Learning Projects\Admission_Predict Data\cleaned_data_Admission.xlsx')
df

,Unnamed: 0,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,0,337,118,4,4.5,4.5,9.65,1,0.92
1,1,324,107,4,4.0,4.5,8.87,1,0.76
2,2,316,104,3,3.0,3.5,8.00,1,0.72
3,3,322,110,3,3.5,2.5,8.67,1,0.80
4,4,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
495,495,332,108,5,4.5,4.0,9.02,1,0.87
496,496,337,117,5,5.0,5.0,9.87,1,0.96
497,497,330,120,5,4.5,5.0,9.56,1,0.93
498,498,312,103,4,4.0,5.0,8.43,0,0.73
499,499,327,113,4,4.5,4.5,9.04,0,0.84

In [12]:
df=df.drop(columns=["Unnamed: 0"])

In [13]:
df

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...
495,332,108,5,4.5,4.0,9.02,1,0.87
496,337,117,5,5.0,5.0,9.87,1,0.96
497,330,120,5,4.5,5.0,9.56,1,0.93
498,312,103,4,4.0,5.0,8.43,0,0.73
499,327,113,4,4.5,4.5,9.04,0,0.84

In [14]:
x=df[['GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research']]
y=df['Chance of Admit ']

# Train-Test Split

In [15]:
# model - Polynomial Regression

from  sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.8,random_state=8)

# Modellingand Evaluation
Applying Hyperparameter tuning for Lasso Regression

In [30]:
#model

estimator=Ridge()

#parameters & values

param_grid={'alpha':list(range(1,100))}

# Identifying the best value of the parameter with in given values for the given data

model_hp=GridSearchCV(estimator,param_grid,cv=5,scoring='r2')

model_hp.fit(x_train,y_train)
model_hp.best_params_

{'alpha': 1}

# Modelling Ridge Regression using best hyperparameters

In [31]:
#modelling

ridge_best = Ridge(alpha=1)
ridge_best.fit(x_train,y_train)

print("Intercept",ridge_best.intercept_)
print("coefficient",ridge_best.coef_)

Intercept -1.3525873434282347
coefficient [ 0.00200052  0.00333828  0.00608039 -0.00183114  0.01676839  0.11628357
  0.02498186]

# Step-5: Evaluation
Evaluation on Train Data

In [32]:

#prediction & Evaluation on train data 

ypred_train =ridge_best.predict(x_train)

from sklearn.metrics import r2_score 
print("Train R2:",r2_score(y_train, ypred_train))

from sklearn.model_selection import cross_val_score
print("CV Score:", cross_val_score(ridge_best, x_train,y_train, cv=5).mean())

#prediction & Evaluation on test data

ypred_test=ridge_best.predict(x_test)
print("Test R2",r2_score(y_test,ypred_test))

Train R2: 0.8293053385938981
CV Score: 0.8224263993668448
Test R2 0.7859973483286559

# Prediction on new data

In [33]:
data={'GRE Score':[327],'TOEFL Score':[113],'University Rating':[4],'SOP':[4.5],'LOR ':[4.5],'CGPA':[9.04],'Research':[0]}
data

{'GRE Score': [327],
 'TOEFL Score': [113],
 'University Rating': [4],
 'SOP': [4.5],
 'LOR ': [4.5],
 'CGPA': [9.04],
 'Research': [0]}

In [37]:
df_test =pd.DataFrame(data,index=[0])
df_test

   GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
0        327          113                  4  4.5   4.5  9.04         0

In [38]:
ridge_best.predict(df_test)

array([0.8215498])